html{
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

button{
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: gold;
    transition: 0.2s ease-in-out;
    margin: 5px;
}

button:hover{
    background-color: chocolate;
    border-radius: 20px;
}

li{
    list-style-type: none;
}
