html {
    background-color: aquamarine;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 175px 175px 175px;
    margin: 50%;
    justify-content: center;

}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    margin: 10px;
}